body {
  font-family: "Lora", serif;
  font-family: "Oswald", sans-serif;
}
::-webkit-scrollbar {
  width: 1px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#root{
  background-color: #EEEEEE;
  height: 100vh;
}